* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Source Sans Pro";
}

:root {
    --text-color: #ffffff;
    --secondary-text-color: #000000;
    --main-color: #FF6565;
}

/* Styling the Hero section */
.hero-section {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 8rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding:1rem 8rem;
    justify-content: space-between;

}

nav {
    display: flex;
}


ul {
    display: flex;
    color: var(--text-color);
    gap: 2rem;
}

a {
    color: #ffffff;
}

#hamburger {
    color: var(--text-color);
    display: none;
}

@media (max-width:1280px) {
    header {
        padding: 14px;
        transition: .2s;
    }
    nav a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px) {
    #hamburger {
        display: block;
    }

    .navbar {
        position:absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--secondary-text-color);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--text-color);
    }

    .navbar.open {
        right: 2%;
    }
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

h2 {
    padding-top: 60%;
    color: var(--text-color);
}

p {
    padding-bottom: 2rem;
    text-align: center;
    color: var(--text-color);
   
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    color: var(--text-color);
    background-color: var(--main-color);
}

.main-hero-text {
    padding-top: 2rem;
}

/* To create shadow effecct on the text before the button */
/* .minor-hero-text {
    text-shadow: 2px solid #000000;
} */

/* Styling what-we-do-section */
/* .what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem;

} */
/* .icons {
    gap: 1rem;
} */
/* .icon-text {
    color: var(--secondary-text-color);
    text-align: center;
    
} */

/* .what-we-do-icons {
    padding-top: 4rem;
    display: flex;
    gap: 2rem;
}

h4 {
    padding-bottom: 1rem;
}

h3 {
    padding-bottom: 1rem;
} */